:root{
  --Darkcyan: hsl(185, 75%, 39%);
  --Verkdarkdesaturatedblue: hsl(229, 23%, 23%);
  --Darkgrayishblue: hsl(227, 10%, 46%);
  --Darkgray: hsl(0, 0%, 59%);
}

.container-tarjeta{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 3rem;
  width: 375px;
  height: 400px;
  border-radius: .5rem;
  background: url(../img/bg-pattern-card.svg) no-repeat white;
  background-size: contain;
  margin-bottom: 2rem;
}

.porfile-photo{
  border-radius: 50%;
  border: .25rem solid white;
  margin-top: 6rem;
}

.container-person{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-person p{
  color: var(--Darkgray);
}

.name{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Verkdarkdesaturatedblue);
}

.name p{
  color: var(--Darkgray);
  margin-left: .5rem;
  padding-top: .2rem;
}

.container-data{
  width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.6rem;
  border-top: 1px solid var(--Darkgray);
  padding-top: 1.6rem;
}

.stats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--Verkdarkdesaturatedblue);
  margin-right: 3rem;
}

.stats:last-child{
  margin-right: 0;
}

.stats p{
  font-size: .8rem;
  color:var(--Darkgray);
}