*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  font-family: 'Kumbh Sans', sans-serif;
  width: 100%;
  height: 100%;
}

html{
  background-color: hsl(185, 75%, 39%);
  background:url(./img/bg-pattern-bottom.svg) no-repeat hsl(185, 75%, 39%);
  background-position: 80rem 30rem;
  
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background:url(./img/bg-pattern-top.svg) no-repeat;
  background-position: -30rem -30rem;
  font-size: 18px;
}